-- DropForeignKey
ALTER TABLE "public"."Lead" DROP CONSTRAINT "Lead_doctorId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Lead" DROP CONSTRAINT "Lead_patientId_fkey";

-- DropForeignKey
ALTER TABLE "public"."_SavedDoctors" DROP CONSTRAINT "_SavedDoctors_A_fkey";

-- DropForeignKey
ALTER TABLE "public"."_SavedDoctors" DROP CONSTRAINT "_SavedDoctors_B_fkey";

-- AlterTable
ALTER TABLE "public"."Doctor" DROP COLUMN "availableDays",
ADD COLUMN     "availableDays" TEXT[],
ALTER COLUMN "updatedAt" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."Patient" DROP COLUMN "gender",
ADD COLUMN     "gender" TEXT,
ALTER COLUMN "updatedAt" SET DEFAULT CURRENT_TIMESTAMP;

-- AlterTable
ALTER TABLE "public"."_SavedDoctors" DROP CONSTRAINT "_SavedDoctors_AB_pkey";

-- DropTable
DROP TABLE "public"."Lead";

-- CreateIndex
CREATE UNIQUE INDEX "_SavedDoctors_AB_unique" ON "public"."_SavedDoctors"("A" ASC, "B" ASC);

-- AddForeignKey
ALTER TABLE "public"."_SavedDoctors" ADD CONSTRAINT "_SavedDoctors_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."Patient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_SavedDoctors" ADD CONSTRAINT "_SavedDoctors_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."Doctor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

